.header{
    margin-top: 30px;
}

.menu{
    width: 60px;
    color:hsl(257, 7%, 63%);
    position:absolute;
    right: 5px;
    top: 40px;
}

a{
    text-decoration: none;
    color: hsl(257, 7%, 63%);
}

.header ul li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    margin: auto 10px;
}

.header nav{
    position: absolute;
    top: 30px;
    left:20%;
}

@media screen and (min-width:800px) {
    aside{
        right: -250%;
        position: absolute;
        top: -8px;
    }
    .header ul li:hover,a:hover{
        cursor: pointer;
        color: hsl(257, 27%, 26%);
    }
    aside button{
        margin-left: 30px;
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .header{
        margin-bottom: 120px;
    }
    .logo{
        position: absolute;
        left: 30px;
        top: 35px;
    }
    a{
        color: white;
    }
    .header ul li{
        display: block;
        margin: 20px auto;
        color: white;
    }
    .btm-nav{
        border-bottom: 2px solid hsl(259, 17%, 33%);
        padding-bottom: 15px;
    }
    .header nav{
        background: hsl(257, 27%, 26%);
        width: 80%;
        margin-left:-47px;
        margin-top: 50px;
        border-radius: 10px;
        display: none;
        transition: .5s ease;
        margin-bottom: 90px;
        padding-inline: 10px;
    }
    .header nav.active{
        display: block;
        transition: .5s ease;
    }
    .header nav button{
        width: 90%;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .header img{
        position:absolute;
    }
}